body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../../Images/schoolbus.jpg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 300px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: aquamarine;
    opacity: 0.9;
    height: 450px;
    width: 900px;
    margin-right: 55px;
    margin-left: -55px;
  
}
h1{
    font-size: 50px;
    margin-left: 270px;
}
h2{
    font-size: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
