@{
    ViewBag.Title = "Home Page";
}

<div id="title" style="font-size: x-large; font-weight: bold; color: black; opacity: 1; margin-left: 200px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">
    <h1>Math Mania Learning Game</h1>
</div>

<div class="row">

    <div class="col-md-4" style="font-size:medium; font-weight: bold; color: black; opacity: inherit; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); margin-left: 115px;">

    <div class="col-md-4" style="font-size:medium; font-weight: bold; color: black; opacity: inherit; text-shadow: 0 5px 0 rgba(255, 255, 255, 0.2);letter-spacing: 1.5px;">

        <h2>How it Works:</h2>
        <p>
            Math Mania is a practice game for first grade students
            that allows them to practice the skills they are learning in
            class.
        </p>
        <p>
            The game will help children build their skills as the level
            of difficulty gradually progresses. Children are motivated to 
            play and learn by earn badges in the game.
        </p>

   
    <div class="col-md-4" style="font-size:medium; font-weight: bold; color: black; opacity: inherit; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); margin-left: 60px; ">

    <div class="col-md-4" style="font-size:medium; font-weight: bold; color: black; opacity: inherit; text-shadow:  0 5px 0 rgba(255, 255, 255, 0.2);letter-spacing: 1.5px; ">
        <h2>How does it help the Teachers:</h2>
        <p>
            Teachers will be able to log in and view the students progress to
            determine where the student is excelling and where an individual might
            need help. Teachers can also view statistics on the entire class to
            determine if there are any areas that need to be revisited during
            lesson time.
        </p>

    </div>

</div>

