@{
    ViewBag.Title = "Home Page";
}

<div id="title" style="font-size: x-large; font-weight: bold; color: black; opacity: 1; margin-left: 300px; text-shadow:1px 1px 1px grey;">
    <h1>Math Mania</h1>
</div>

<div class="row">
    <div class="col-md-4" style="font-size:medium; font-weight: bold; color: black; opacity: inherit; text-shadow:1px 1px 1px grey;">
        <h2>How it Works:</h2>
        <p>
            Math Mania is a practice game for first grade students
            that allows them to practice the skills they are learning in
            class.
        </p>

    </div>
    <div class="col-md-4" style="font-size:medium; font-weight: bold; color: black; opacity: inherit; text-shadow:1px 1px 1px grey; ">
        <h2>How does it help the Teachers:</h2>
        <p>
            Teachers will be able to log in and view the students progress to
            determine where the student is excelling and where an individual might
            need help. Teachers can also view statistics on the entire class to
            determine if there are any areas that need to be revisited during
            lesson time.
        </p>

    </div>

</div>

