@model MathMania.Models.lockerVM
    @{
        ViewBag.Title = "Locker";
        Layout = null;
    }

    
    <!DOCTYPE html>
    <html>
    <head></head>
        <body>
            <img src="~/Images/dooor.png" />
        </body>
</html>

