@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/WelcomeStyleSheet.css">

    <title>Math Mania</title>
</head>

<body>
    <div id="content">
        <header>
            <h1>Welcome to Math Mania</h1>
        </header>
    </div>

    <div id="buttons">
        @Html.ActionLink("Let's Play!", "Addition",
        null, htmlAttributes: new { @class = "playbtn" })
    </div>
</body>
</html>
